{% extends "layout.html" %}
{% block content %}

<div class="content-section">
  <h1>Something went wrong</h1>
  <h1><b>(403)</b></h1>
      <p>Make sure you have permissions</p>
</div>

{% endblock content %}
