{% extends "layout.html" %}
{% block content %}

<div class="content-section">
  <h1>Oops...</h1>
  <h1>Page not found <b>(404)</b></h1>
      <p>The page you entered does not exist</p>
      <p>Please try with another link</p>
</div>

{% endblock content %}
