{% extends "layout.html" %}
{% block content %}

<div class="content-section">
  <h1>Something went wrong... </h1>
  <h1><b>(404)</b></h1>
      <p>We are expreiencing some issues</p>
      <p>Please try later</p>
</div>

{% endblock content %}
