{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>
      <b>The information about the page</b>
    </p>
    <p>
      This is a flask application which allows people to communicate,
      share ideas and experiences.
    </p>
    <p>
      After Logging in, you can write new post (800 symbols max).
    </p>
    <p>
      Each post show the email of the user who has created the post,
      date when the post was created, updete status (if the post has been created),
      The post title with its content
      You are able to follow each other ane be followed by anyone.
    </p>
    <p>
      <b>The Buttons Functionality</b>
    </p>
    <ul>
      <li>
        The Home button redirects user to a home page.
        Hence the user may log in, sign up easily.
      </li>
      <li>
        The About page provides an information about the website and how to use it.
      </li>
      <li>
        All Posts button on the SideBar allows you to see all posts that are created.
      </li>
      <li>
        The Latest posts provides the posts that are created in the last 24h.
      </li>
      <li>
        Most Popular Users provide a list of people who has the most followers.
      </li>
      <li>
        The Most active button shows people who has posted the most posts.
      </li>
    </ul>
{% endblock content %}
