<!DOCTYPE html>
<html>

<head>
    <!-- meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="icon" href="../static/pictures/login.png" />

    <link rel="stylesheet" type="text/css" href="../static/design_file.css">
    {% if title %}
        <title>News Blog - {{ title }}</title>
    {% else %}
        <title>News Blog</title>
    {% endif %}
</head>
<body>
  <div class="header" >
    <img src="../static/pictures/Icon01.png" alt="Icon" width="20" height="20">
    <a href="/">NewsBlog</a>
    <a href="{{ url_for('about') }}">About</a>
  <div class="header-right">
    <a class="active" href="{{ url_for('home') }}">Home</a>
    {% if current_user.is_authenticated %}
    <a class="active" href="{{ url_for('new_post') }}">New Post</a>
    <a class="active" href="{{ url_for('account') }}">Account</a>
    <a class="active" href="{{ url_for('logout') }}">Logout</a>
    {% else %}
    <a class="active" href="{{ url_for('login') }}">LogIn</a>
    <a class="active" href="{{ url_for('signup') }}">SignUp</a>
    {% endif %}
  </div>
  <div class="nav-item nav-link" id="time"></div>
  </div>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Check the features</h3>
            <p class='text-muted'>
              <ul class="list-group">
                <a class="list-group-item list-group-item-light" href="{{ url_for('home') }}">All Posts</a>
                <a class="list-group-item list-group-item-light" href="{{ url_for('latest_posts') }}">Latest Posts</a>
                <a class="list-group-item list-group-item-light" href="{{ url_for('most_popular_users') }}">Most Popular Users</a>
                <a class="list-group-item list-group-item-light" href="{{ url_for('location') }}">Know your Location</a>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>
    <div class="footer">
    		For more information please contact me: sc18rp@leeds.ac.uk

    </div>
    <!-- JavaScript -->
    <!-- jQuery, Popper.js, Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
    function updateClock() {
        var now = new Date(), // current date
            months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']; // you get the idea
            time = now.getHours() + ':' + now.getMinutes(), // again, you get the idea

            // a cleaner way than string concatenation
            date = [now.getDate(), months[now.getMonth()], now.getFullYear()].join(' ');

        // set the content of the element with the ID time to the formatted string
        document.getElementById('time').innerHTML = [date, time].join(' / ');

        // call this function again in 1000ms
        setTimeout(updateClock, 1000);
    }
    updateClock(); // initial call
    </script>
</body>
</html>
