{% extends "layout.html" %}
{% block content %}
<body >
<h1 class="mb-3">Most Popular Users: </h1>
  <table>
    {% for user in users %}
    {% if followers[loop.index-1]>0 %}
      <tr>
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{url_for('user_posts', username=user) }}">{{ user }}</a>
              <small class="text-muted">{{ followers[loop.index-1] }}</small>
            </div>
          </div>
        </article>
      </tr>
      {% else %}
      {% endif %}
    {% endfor %}
  </table>
  <hr>
  <h3 class="mb-3">Other users has 0 followers</h3>

{% endblock %}
