{% extends "layout.html" %}


{% block content %}
      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{{url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
            <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d %H:%M') }}</small>
            {% if  post.updated==True %}
            <small class="text-muted" >(Updated)</small>
            {% else %}

            {% endif %}
            {% if post.author == current_user %}
            <div>
              <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Update post</a>
              <button type="button" class="btn btn-danger btn-sm m-1"  data-toggle="modal" data-target="#deleteModal">Delete</button>
            </div>
            {% endif %}
          </div>
          <h2 class="article-title" >{{ post.title }}</h2>
          <p class="h9" >{{ post.content }}</p>
        </div>
      </article>

      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deleteModalLabel">Delete Post</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
                <input class="btn btn-danger" type="submit" value="Delete" />
              </form>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}
