{% extends "layout.html" %}
{% block content %}
  <table>
      <tr valign="top">
          <td>
              <h1>User: {{ user.username }}</h1>
              <p>{{ user.followers.count() }} followers |
              {% if user.id == current_user.id %}
                  <a href="{{ url_for('edit') }}">Edit your profile</a>
              {% elif not current_user.is_following(user) %}
                  <a href="{{ url_for('follow', username=user.username) }}">Follow</a>
              {% else %}
                  <a href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a>
              {% endif %}
              </p>
          </td>
      </tr>
  </table>
  <hr>
  {% for post in posts %}
      {% include 'post.html' %}
  {% endfor %}
{% endblock %}
