{% extends "layout.html" %}

{% block content %}
<ul>
  <h1 class="mb-3">Posts by {{ user.username }} ({{posts.total}})</h1>
  {% if  user.username == current_user.username%}
  <!-- Do nothing -->
  {% elif current_user.is_following(user) == False %}
    <form action="/follow/{{ user.username }}" method="POST">
      <input class="btn btn-info mb-8" type="submit" value="Follow"></input>
    </form>
  {% elif current_user.is_following(user) == True %}
    <form action="/unfollow/{{ user.username }}" method="POST">
      <input class="btn btn-info mb-8" type="submit" value="Unfollow" ></input>
    </form>
  {% endif %}
</ul>
    {% for post in posts.items %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d %H:%M') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
  {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}
          {% if posts.page == page_num %}
              <a class="btn btn-info mb-4" href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% else %}
              <a class="btn btn-outline-info mb-4" href="{{ url_for('user_posts', username=user.username, page=page_num) }}">{{ page_num }}</a>
            {% endif %}
      {% else %}
            __
      {% endif %}
  {% endfor %}
{% endblock content %}
