body {
  animation: colorchange 40s infinite;
}

@keyframes colorchange
{
  0%   {background: rgb(128, 128, 255, .2);}
  25%  {background: rgb(0, 0, 153, .2);}
  50%  {background: rgb(179, 179, 255, .2);}
  75%  {background: rgb(204, 204, 255, .2);}
  100% {background: rgb(0, 0, 77, .2);}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #8580b0;}
  25%  {background: #97c1ab;}
  50%  {background: #ffffff;}
  75%  {background: #ddcae2;}
  100% {background: #686868;}
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.breakword{
  max-width:200px;
  word-wrap: break-word;
}
.h9{
  max-width:200px;
  word-wrap: break-word;
}

.header {
  overflow: hidden;
  background-color: rgb(201, 76, 76, .35);
  padding: 20px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 8px;
  background-color: rgb(26, 26, 255, .8);
  margin-right: 4px;
  font-weight: bold;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: rgb(0, 0, 26, 0.72);
  font-weight: bold;
  color: white  ;
}

.header a.active {
  background-color: rgb(26, 26, 255, .8);
  color: white;
}
.header a.active:hover{
  background-color: #ddd;
  color: black;
}
.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}
.footer {
	 padding: 12px;
	 font-size: 14px;
	 text-align: right;
	 font-style: italic;
   bottom: 0;
   width: 100%;
   color: rgb(0, 0, 26, 0.72);
   position: fixed;
}
