.btn{
  position: fixed;
  top: 0;
  left: 0;
  background-color: inherit;
  border: inherit;
  border-radius: 20px;
  padding: 2% 2%;
  font-size:2vw;
  cursor: pointer;
  display: inline-block;
}
.btn2{
  position: fixed;
  top: 0;
  right:0;
  background-color: inherit;
  border: inherit;
  border-radius: 20px;
  padding: 2% 2%;
  font-size:2vw;
  cursor: pointer;
  display: inline-block;
}

.refresh{
  position: fixed;
  bottom: 0;
  margin-left: 45%;
  margin-right: 45%;
  background-color: inherit;
  border: inherit;
  border-radius: 20px;
  padding: 2% 2%;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/*For play again in Quiz*/
.flip_refresh{
  background: rgb(169,169,169, .7);
  color: red;
}
.flip_refresh:hover {
  background: rgb(150,150,150);
  color: black;
}
.flip {
  background: rgb(128, 0, 0, .7);
  color: #9fdbf2;
}

.flip:hover {
  background: rgb(128, 0, 0);
  color: black;
}
.submit{
  background-color: white;
  border: black 5px solid;
  border-radius: 15px;
  padding: 2% 2%;
  font-size: 16px;
  cursor: pointer;
}
.printing
{
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: grey;
  border-radius: 30px;
  padding: 1% 1%;
}
