p{
  margin-left: 15%;
  margin-right: 15%;
  padding-top: 5px;
  font-size: 25px;
}

h1{
    position: relative;
    margin-top: 0;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    font-family: monospace;
    font-size:5vw;
    border-radius: 15px;
    background: linear-gradient(to top , #99ccff,#0080ff);
}
h2{
  text-align: center;
}
hr{
  margin-top: 100px;
  margin-left: 15%;
  margin-right: 15%;
  border-top: 3px solid black;
}

.navigation {
  top: 15%;
  width: 20%;
  position: fixed;
  right: 0;
}

/* Style the navigation links and the dropdown button */
.navigation a, .dropdown-btn{
  padding-top: 8px;
  padding-left: 4%;
  text-decoration: none;
  font-size: 2vw;
  font-weight: 400;
  color: black;
  background-color: white;
  display: block;
  border: 1px solid black;
  text-align: left;
  cursor: pointer;
}

/* On mouse hover */
.navigation a:hover
{
  color: black;
  background-color: lightblue;
}
.dropdown-btn:hover
{
  color: black;
  background-color: lightblue;
}

/* Dropdown */
.dropdown-container {
  display: none;
  background: rgb(173,216,230, .5);
  padding-right: 8px;
}


img{
  margin-top: 6%;
  width: 100%;
  height: 100%;
}
body{
  background-color: #CDD1D2;
}
