h1{
  text-align: center;
  font-size: 6vw;
  background-image: linear-gradient(to top, #fad0c4 0%, #ffd1ff 100%);
  border-radius: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

body{
  background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
}
img{
  bottom: 0;
}
.firstbutton{
  text-align: left;
}
.secondbutton{
  text-align: right;
}

p{
  position: fixed;
  bottom: 0;
  text-align: left;
  font-size: 1vw;
}

h2{
  position: relative;
  bottom: 5%;
  font-size: 2vw;
  text-align: center;
}

.button_time{
  position: relative;
  bottom: 0;
  margin-left: 35%;
  margin-right: 35%;
  background-color: inherit;
  border: inherit;
  font-size: 3vw;
  cursor: pointer;
  display: inline-block;
}
