body {
  font-family: Arial;
  background-color: lightblue;
}

.space{
  margin-top: 8%;
}
/* Style the images inside the grid */
.column img {
  opacity: 0.7;
  cursor: pointer;
}

.column img:hover {
  opacity: 1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container */
.container {
  position: relative;
  display: none;
}

p{
  bottom: 0;
  text-align: center;
  font-size: 8vw;
}
a{
  text-align: center;
  font-size: 1.5vw;
  font-weight: 400;
}
