html{
  background-image: url("../pictures/green.jpg");
  height:100%;
}

h1{
  font-size: 3vw;
  text-align: center;
}
.timeset{
text-align: center;
padding-top: 5%;
padding-bottom: 0;
font-size: 2vw;
font-style: italic;
}
table{
  font-size: 30px;
  position: absolute;
  bottom: 5%;
  height: 280px;
  text-align: center;
  border-width: 5px;
  width: 80%;

  overflow-y: auto;
  overflow-x: auto;

  left: 10%;
}

tr:nth-child(even) {
  background-color: #ffffe6;
}
tr:nth-child(odd) {
  background-color: #e6e6ff;
}

.first{
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  background-color: lightblue;
  border-radius: 15px;
  width: 30%;
  height: 50px;
  float: left;
}
.second{
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  background-color: lightblue;
  border-radius: 15px;
  width: 30%;
  height: 50px;
  margin: auto;
}

.third{
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  background-color: lightblue;
  border-radius: 15px;
  width: 30%;
  height: 50px;
  float: right;
}
.first:hover{
  background-color: #7273a3;
}
.second:hover{
  background-color: #7273a3;
}
.third:hover{
  background-color: #7273a3;
}
.border
{
  text-align: center;
  background-color: lightblue;
  border-radius: 20px;
  width: 30%;
  height: auto;
  margin: auto;
}
.border:hover{
  background-color: #7273a3;
}
.tooltip .tooltiptext{
  visibility: hidden;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
