@media print {

  th {
    font-size: 30px;
    font-family:verdana, arial, sans-serif;
  }

  td {
    font-size: 26px;
    font-family:verdana, arial, sans-serif;
  }

  /*these are not going to be displayed in printing*/
  h3, button, a, hr, .navigation, .additional_text, .btn, .btn2{
    display: none;
  }

  table {
      border-collapse: collapse;
      width: 80%;
      height: 700px;
      margin-top: -200px;
  }
  img{
    filter: grayscale(100%);
  }
  p{
    font-size: 22px;
    font-style: normal;
    font-family: "Times New Roman", Times, serif;
    margin-left: 0;
    margin-right: 0;
  }
}
