table{
  width: 30%;
  position: relative;
  margin-top: 0;
  margin-left: 3%;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
}

h1{
	color: #8080ff;
  background-color: rgba(255, 255, 230, 0.5);
  text-align: center;
  font-size: 30pt;
  font-weight: 900;
  font-family: "Comic Sans MS",  sans-serif
}

tr:nth-child(even) {background-color: #ffffe6;}
tr:nth-child(odd) {background-color: #e6e6ff;}

th{
  width: 20%;
  text-align: left;
  border-right-color: transparent;
  border-left-color: transparent;
}

td{
  font-style: italic;
  text-align: center;
  padding: 12px;
  border-right-color: transparent;
  border-left-color: transparent;
}
html{
  height: 100%;
}
body {
  background-image: url("../pictures/The_world_background.jpg");
  background-position: center;
  background-repeat: repeat;
  background-size: 100% 100%;
}
.button {
  background-color: #4CAF50;
  border: none;
	border-radius: 12px;
  color: black;
	width: 180px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
	max-height: 100px;
}
.ml2 {
  font-weight: 900;
  font-size: 3.5em;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}
