h1{
  position: relative;
  top: 100px;
  text-align: center;
  font-family: monospace;
  font-size: 6vw;
  background: linear-gradient(to top , #99ccff, #b300b3, cyan, #ff80ff, #0080ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

table{
  font-size: 2vw;
  position: relative;
  top: 150px;
  text-align: center;
  border-width: 5px;
  width:70%;
  margin-left:15%;
  margin-right:15%;
  overflow-y: auto;
  overflow-x: auto;
}

tr:nth-child(even) {background-color: #ffffe6;}
tr:nth-child(odd) {background-color: #e6e6ff;}

tr{
  font-size: 150%;
  font-family: monospace;
}
th{
  border-width: 5px;
  border-bottom-style: solid;
}
html{
  height: 100%;
  background-image: linear-gradient(red, yellow);
  background-image: radial-gradient(blue, black);
}
body{

 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}
.additional_text{
  padding-left: 50%;
  font-family: monospace;
  font-style: italic;
  font-size: 10px;
  position: relative;
  text-align: left;
  top: 300px;
  height: 15%;
  color:white;
}

p{
  font-size: 1vw;
  position: relative;
}
.pp{
  font-size: 2vw;
}
