.img1 {
  width: 50px;
  height: 50px;
	position: fixed;
  animation-name: The_movement1;
  transform: scaleX(-1);
  animation: The_movement1 20s linear infinite;
}

.globe_animation{
    position: fixed;
    top: 30%;
    left: 55%;
    width: 400px;
    height: 400px;
    animation:spin 40s linear infinite;
}

.globe_animation:hover
{
  animation:spin .2s linear infinite;
}

@keyframes spin {
  100%{transform:rotate(360deg);}
}

@keyframes The_movement1 {

  0% {left: 100%; top: 0;}
  100%{left: 0; top: 0;}
}
