html{
  background:
  repeating-linear-gradient(
    40deg,
    #ffcccc 250px,
    #eeccff 250px,
    #ccffff 250px,
    #ccccff 300px
  );
      height:100%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  max-width: 40%;
  height: auto;
  background-color: rgba(0,34,51, 0.7);
  color: rgba(230,247,255, 0.8);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
ul{
  margin-top: 20px;
}
li{
  font-size: 25px;
  font-style: italic;
  margin-top: 5%;
}
.grow
{
  transition: all .3s ease-in-out;
  margin-top: 0;
  filter: grayscale(100%);
 }
.grow:hover
{
  filter: grayscale(0%);
  transform: scaleY(1.2);
}

.grow_text:hover
{
  filter: blur(2px);
}

.top{
  margin-top: 10%;
}
