.section {
    padding: 50px 0;
}

.section{
  box-sizing: border-box;
max-width: 1366px;
padding-left: 30px;
padding-right: 30px;
margin: 0 auto;
font-family:arial,verdana,sans-serif;
font-size: .9375em;
letter-spacing: .05em;
line-height: 1.46667;
color: #000000;
}

.grid {
    box-sizing: border-box;
    margin-left: -15px;
    margin-right: -15px;
}
