#content-area .generic_content {
	background-color: #f0f0f0;
}

#content-area .generic_content .generic_head_price {
	background-color: #ffffff;
}

#content-area .generic_content .generic_head_price .generic_head_content .head_bg {
	border-color: #e4e4e4 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #e4e4e4;
}

#content-area .generic_content .generic_head_price .generic_head_content .head span {
	color: #525252;
}

#content-area .generic_content .generic_head_price .generic_price_tag .price .sign {
	color: #414141;
}

#content-area .generic_content .generic_head_price .generic_price_tag .price .currency {
	color: #414141;
}

#content-area .generic_content .generic_head_price .generic_price_tag .price .cent {
	color: #414141;
}

#content-area .generic_content .generic_head_price .generic_price_tag .month {
	color: #414141;
}

#content-area .generic_content .generic_feature_list ul li {
	color: #a7a7a7;
}

#content-area .generic_content .generic_feature_list ul li span {
	color: #414141;
}
#content-area .generic_content .generic_feature_list ul li:hover {
	background-color: #e4e4e4;
	border-left: 5px solid #0474bc;
}

#content-area .generic_content .generic_price_btn a {
	border: 1px solid #0474bc;
	color: #0474bc;
}

#content-area .generic_content.active .generic_head_price .generic_head_content .head_bg,
#content-area .generic_content:hover .generic_head_price .generic_head_content .head_bg {
	border-color: #0474bc rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #0474bc;
	color: #fff;
}

#content-area .generic_content:hover .generic_head_price .generic_head_content .head span,
#content-area .generic_content.active .generic_head_price .generic_head_content .head span {
	color: #fff;
}

#content-area .generic_content:hover .generic_price_btn a,
#content-area .generic_content.active .generic_price_btn a {
	background-color: #0474bc;
	color: #fff;
}

.row .table {
	padding: 28px 0;
}

#content-area .generic_content {
	overflow: hidden;
	position: relative;
	text-align: center;
}

#content-area .generic_content .generic_head_price {
	margin: 0 0 20px 0;
}

#content-area .generic_content .generic_head_price .generic_head_content {
	margin: 0 0 50px 0;
}

#content-area .generic_content .generic_head_price .generic_head_content .head_bg {
	border-style: solid;
	border-width: 90px 1411px 23px 399px;
	position: absolute;
}

#content-area .generic_content .generic_head_price .generic_head_content .head {
	padding-top: 40px;
	position: relative;
	z-index: 1;
}

#content-area .generic_content .generic_head_price .generic_head_content .head span {
	font-family: "Raleway", sans-serif;
	font-size: 28px;
	font-weight: 400;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

#content-area .generic_content .generic_head_price .generic_price_tag {
	padding: 0 0 20px;
}

#content-area .generic_content .generic_head_price .generic_price_tag .price {
	display: block;
}

#content-area .generic_content .generic_head_price .generic_price_tag .price .sign {
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 28px;
	font-weight: 400;
	vertical-align: middle;
}

#content-area .generic_content .generic_head_price .generic_price_tag .price .currency {
	font-family: "Lato", sans-serif;
	font-size: 60px;
	font-weight: 300;
	letter-spacing: -2px;
	line-height: 60px;
	padding: 0;
	vertical-align: middle;
}

#content-area .generic_content .generic_head_price .generic_price_tag .price .cent {
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 24px;
	font-weight: 400;
	vertical-align: bottom;
}

#content-area .generic_content .generic_head_price .generic_price_tag .month {
	font-family: "Lato", sans-serif;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 3px;
	vertical-align: bottom;
}

#content-area .generic_content .generic_feature_list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#content-area .generic_content .generic_feature_list ul li {
	font-family: "Lato", sans-serif;
	font-size: 18px;
	padding: 15px 0;
	transition: all 0.3s ease-in-out 0s;
}
#content-area .generic_content .generic_feature_list ul li:hover {
	transition: all 0.3s ease-in-out 0s;
}
#content-area .generic_content .generic_feature_list ul li .fa {
	padding: 0 10px;
}
#content-area .generic_content .generic_price_btn {
	margin: 20px 0 32px;
}

#content-area .generic_content .generic_price_btn a {
	border-radius: 50px;
	display: inline-block;
	font-family: "Lato", sans-serif;
	font-size: 18px;
	outline: medium none;
	padding: 12px 30px;
	text-decoration: none;
	text-transform: uppercase;
}

#content-area .generic_content,
#content-area .generic_content:hover,
#content-area .generic_content .generic_head_price .generic_head_content .head_bg,
#content-area .generic_content:hover .generic_head_price .generic_head_content .head_bg,
#content-area .generic_content .generic_head_price .generic_head_content .head h2,
#content-area .generic_content:hover .generic_head_price .generic_head_content .head h2,
#content-area .generic_content .price,
#content-area .generic_content:hover .price,
#content-area .generic_content .generic_price_btn a,
#content-area .generic_content:hover .generic_price_btn a {
	transition: all 0.3s ease-in-out 0s;
}
@media (max-width: 320px) {
}

@media (max-width: 767px) {
	#content-area .generic_content {
		margin-bottom: 75px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	#content-area .col-md-3 {
		float: left;
		width: 50%;
	}

	#content-area .col-md-4 {
		float: left;
		width: 50%;
	}

	#content-area .generic_content {
		margin-bottom: 75px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
}
@media (min-width: 1200px) {
}
#content-area_home {
	font-family: 'Raleway', sans-serif;
}

.text-center h1,
.text-center h1 a {
	color: #7885cb;
	font-size: 30px;
	font-weight: 300;
	text-decoration: none;
}
.demo-pic {
	margin: 0 auto;
}
.demo-pic:hover {
	opacity: 0.7;
}

#content-area_home ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: table;
}
#content-area_home li {
	float: left;
}
#content-area_home li + li {
	margin-left: 10px;
	padding-bottom: 10px;
}
#content-area_home li a {
	display: block;
	width: 50px;
	height: 50px;
	font-size: 0px;
}
#content-area_home .blue {
	background: #3498db;
	transition: all 0.3s ease-in-out 0s;
}
#content-area_home .emerald {
	background: #0474bc;
	transition: all 0.3s ease-in-out 0s;
}
#content-area_home .grey {
	background: #7f8c8d;
	transition: all 0.3s ease-in-out 0s;
}
#content-area_home .midnight {
	background: #34495e;
	transition: all 0.3s ease-in-out 0s;
}
#content-area_home .orange {
	background: #e67e22;
	transition: all 0.3s ease-in-out 0s;
}
#content-area_home .purple {
	background: #9b59b6;
	transition: all 0.3s ease-in-out 0s;
}
#content-area_home .red {
	background: #e74c3c;
	transition: all 0.3s ease-in-out 0s;
}
#content-area_home .turquoise {
	background: #1abc9c;
	transition: all 0.3s ease-in-out 0s;
}

#content-area_home .blue:hover,
#content-area_home .emerald:hover,
#content-area_home .grey:hover,
#content-area_home .midnight:hover,
#content-area_home .orange:hover,
#content-area_home .purple:hover,
#content-area_home .red:hover,
#content-area_home .turquoise:hover {
	border-bottom-left-radius: 50px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
	transition: all 0.3s ease-in-out 0s;
}
#content-area_home .divider {
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 20px;
}
#content-area_home .divider span {
	width: 100%;
	display: table;
	height: 2px;
	background: #ddd;
	margin: 50px auto;
	line-height: 2px;
}
#content-area_home .itemname {
	text-align: center;
	font-size: 50px;
	padding: 50px 0 20px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 40px;
	text-decoration: none;
	font-weight: 300;
}
#content-area_home .itemnametext {
	text-align: center;
	font-size: 20px;
	padding-top: 5px;
	text-transform: uppercase;
	display: inline-block;
}
#content-area_home .footer {
	padding: 40px 0;
}

.price-heading {
	text-align: center;
}
.price-heading h1 {
	color: #666;
	margin: 0;
	padding: 0 0 50px 0;
}
.demo-button {
	background-color: #333333;
	color: #ffffff;
	display: table;
	font-size: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 50px;
	outline-style: none;
	outline-width: medium;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
}
.bottom_btn {
	background-color: #333333;
	color: #ffffff;
	display: table;
	font-size: 28px;
	margin: 60px auto 20px;
	padding: 10px 25px;
	text-align: center;
	text-transform: uppercase;
}
.demo-button:hover {
	background-color: #666;
	color: #fff;
	text-decoration: none;
}
.bottom_btn:hover {
	background-color: #666;
	color: #fff;
	text-decoration: none;
}
