#content-area {
	height: 60vh;
}

#confirm h1 {
	color: rgb(26, 199, 26);
}

#confirm p:nth-of-type(odd) {
	margin: 0;
}

#confirm .btn {
	width: 60%;
	text-align: center;
	margin: 0.5rem auto;
}

#confirm #error {
	color: rgb(230, 14, 14);
}
