/* Global */

* {
	box-sizing: border-box;
}

#header-area {
	margin: 0;
}

#content-area {
	margin-bottom: 1px;
	height: 100%;
}

.site-footer {
	position: relative;
	z-index: 1;
}

#payment-header {
	text-align: center;
	font-size: 1.3rem;
}

.card-text {
	margin-bottom: 0;
}
/*Background Color Animation*/

@keyframes colorAnimate {
	0% {
		background-image: url("../images/img2445.jpg");
	}
	25% {
		background-image: url("../images/img2444.jpg");
	}
	50% {
		background-image: url("../images/img2456.jpg");
	}
	75% {
		background-image: url("../images/img2445.jpg");
	}
	100% {
		background-image: url("../images/img2445.jpg");
	}
}

@-webkit-keyframes colorAnimate {
	0% {
		background-image: url("../images/img2445.jpg");
	}
	25% {
		background-image: url("../images/img2444.jpg");
	}
	50% {
		background-image: url("../images/img2456.jpg");
	}
	75% {
		background-image: url("../images/img2445.jpg");
	}
	100% {
		background-image: url("../images/img2445.jpg");
	}
}

html,
body,
.wrapper,
.sct {
	/* height: 100%; */
	margin: 0;
}

a {
	text-decoration: none;
	color: rgb(22, 185, 185);
}

h1 {
	font-size: 6rem;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	color: #2d2d2d;
}

input:active,
input:focus,
input:visited,
input:hover {
	outline: none;
}

button,
input[type="submit"] {
	cursor: pointer;
}

.text-center {
	text-align: center;
}

form > h3 {
	text-align: center;
}

.forgot-remember {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "centerLeft centerRight";
}

.sct {
	display: flex;
	/* align-items: center; */
	justify-content: center;
	height: 100%;
}

.brand {
	grid-area: centerLeft;
	background-color: #2d2d2d;
	animation: colorAnimate 30s;
	-webkit-animation: colorAnimate 30s;
	animation-iteration-count: infinite;
	-webkit-iteration-count: infinite;
}

.brand > h3 {
	padding: .75rem;
	font-weight: 800;
	outline: 3px solid #fff;
	color: #fff;
}

.login {
	grid-area: centerRight;
}

.login > form {
	width: 400px;
	margin: 9rem 3rem;
}

/*Checkbox*/

.control {
	font-family: arial;
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 5px;
	padding-top: 3px;
	cursor: pointer;
	font-size: 16px;
}
.control input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.control_indicator {
	position: absolute;
	top: 2px;
	left: 0;
	height: 20px;
	width: 20px;
	background: #e6e6e6;
	border: 0px solid #000000;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
	background: #cccccc;
}

.control input:checked ~ .control_indicator {
	background: #2aa1c0;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
	background: #0e6647d;
}
.control input:disabled ~ .control_indicator {
	background: #e6e6e6;
	opacity: 0.6;
	pointer-events: none;
}
.control_indicator:after {
	box-sizing: unset;
	content: '';
	position: absolute;
	display: none;
}
.control input:checked ~ .control_indicator:after {
	display: block;
}
.control-checkbox .control_indicator:after {
	left: 8px;
	top: 4px;
	width: 3px;
	height: 8px;
	border: solid #ffffff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
	border-color: #7b7b7b;
}

/*Social Sign Up*/

.social-sign {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.social-sign a {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	font-size: 2rem;
}

.social-sign > a:nth-child(2) {
	margin: 0 .5rem;
}

.fa-hand-o-down {
	margin-top: .5rem;
}

@media (max-width: 768px) {
	.wrapper {
		display: grid;
		grid-template-columns: 1fr;
		grid-auto-rows: minmax(20%, 80vmax);
		grid-template-areas: "centerLeft" "centerRight";
	}

	.login > form {
		width: 100%;
		margin: 0 3rem;
	}

	.wrapper .brand {
		display: none;
	}

	.form {
		margin-bottom: 50px;
	}
}

caret.png body,
html {
	height: 100%;
	min-height: 100%;
}

/* Credit Card */

.credit-card {
	width: 360px;
	height: 500px;
	margin: 20px auto 20px;
	border: 1px solid #ddd;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.10);
}

.form-header {
	height: 80px;
	padding: 20px 20px 0;
	border-bottom: 1px solid #e1e8ee;
	text-align: center;
}

.form-body {
	margin-top: 20px;
	height: 340px;
	padding: 30px 30px 20px;
}

/* Title */

.title {
	margin: 0;
	color: #5e6977;
	font-size: 25px;
}

/* Common */

.card-number,
.cvv-input input,
.month select,
.paypal-btn,
.proceed-btn,
.year select {
	height: 42px;
}

.card-number,
.month select,
.year select {
	font-size: 14px;
	/* font-weight: 100; */
	line-height: 14px;
}

.card-number,
.cvv-details,
.cvv-input input,
.month select,
.year select {
	color: #86939e;
	opacity: .7;
}

/* Card Number */

.card-number {
	width: 100%;
	margin-bottom: 20px;
	padding-left: 20px;
	border: 2px solid #e1e8ee;
	border-radius: 6px;
}

/* Date Field */

.month select,
.year select {
	-moz-appearance: none;
	-webkit-appearance: none;
	width: 145px;
	margin-bottom: 20px;
	padding-left: 20px;
	border: 2px solid #e1e8ee;
	border-radius: 6px;
	background: url('https://designmodo.com/demo/creditcardform/caret.png') no-repeat;
	background-position: 85% 50%;
}

.month select {
	float: left;
}

.year select {
	float: right;
}

/* Card Verification Field */

.cvv-input input {
	width: 145px;
	float: left;
	padding-left: 20px;
	border: 2px solid #e1e8ee;
	border-radius: 6px;
	background: #fff;
}

.cvv-details {
	float: right;
	margin-bottom: 20px;
	font-size: 12px;
	font-weight: 300;
	line-height: 16px;
}

.cvv-details p {
	margin-top: 6px;
}

/* Buttons Section */
.proceed-btn {
	cursor: pointer;
	width: 100%;
	border-color: transparent;
	border-radius: 6px;
	font-size: 16px;
	margin-bottom: 10px;
	background: #7dc855;
}

.proceed-btn a {
	color: #fff;
}
