body {
	font-family: 'Raleway', sans-serif;
}

/* =======================
******** NAV BAR ********
========================*/

#navbar {
	display: grid;
	min-height: 100px;
	grid-auto-flow: column;
	background-color: #fcfcfc;
	grid-gap: 1.5em;
	padding: 0 40px;
	-webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
	-moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
	box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

#logo {
	display: grid;
	justify-content: start;
	align-content: center;
	font-size: 30px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
}

.logo span {
	color: #0474bc;
}

#links {
	display: grid;
	justify-content: right;
	align-content: center;
	grid-auto-flow: column;
	grid-gap: 1.5em;
}

#links a {
	text-decoration: none;
	color: #333;
	text-transform: uppercase;
	font-weight: bold;
}

#links a:hover {
	color: #0474bc;
}

/* =======================
******* Mobile Menu ******
========================*/

#mySidenav {
	z-index: 9999;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #111;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #fff;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

/*=======================
******** FOOTER ********
========================*/

.site-footer {
	background-color: #26272b;
	padding: 45px 0 20px;
	font-size: 14px;
	line-height: 24px;
	color: #737373;
}
.site-footer hr {
	border-top-color: #bbb;
	opacity: 0.5;
}
.site-footer hr.small {
	margin: 20px 0;
}
.site-footer h6 {
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 5px;
	letter-spacing: 2px;
}
.site-footer a {
	color: #737373;
}
.site-footer a:hover {
	color: #3366cc;
	text-decoration: none;
}
.footer-links {
	padding-left: 0;
	list-style: none;
}
.footer-links li {
	display: block;
}
.footer-links a {
	color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
	color: #3366cc;
	text-decoration: none;
}
.footer-links.inline li {
	display: inline-block;
}

@media (max-width: 991px) {
	.site-footer [class^=col-] {
		margin-bottom: 30px;
	}
}
@media (max-width: 767px) {
	.site-footer {
		padding-bottom: 0;
	}
	.site-footer .copyright-text,
	.site-footer .social-icons {
		text-align: center;
	}
}

/*=======================
******* HOME PAGE *******
========================*/

.single-hero-item {
	padding-top: 200px;
}

.hero-items .owl-item.active .single-hero-item .hero-text h4,
.hero-items .owl-item.active .single-hero-item .hero-text h1,
.hero-items .owl-item.active .single-hero-item .hero-text .primary-btn {
	top: 0;
	opacity: 1;
}

.hero-items .owl-item.active .single-hero-item .hero-text h4 {
	-webkit-transition: all 0.5s ease 0.2s;
	-o-transition: all 0.5s ease 0.2s;
	transition: all 0.5s ease 0.2s;
}

.hero-items .owl-item.active .single-hero-item .hero-text h1 {
	-webkit-transition: all 0.4s ease 0.4s;
	-o-transition: all 0.4s ease 0.4s;
	transition: all 0.4s ease 0.4s;
}

.hero-items .owl-item.active .single-hero-item .hero-text .primary-btn {
	-webkit-transition: all 0.6s ease 0.6s;
	-o-transition: all 0.6s ease 0.6s;
	transition: all 0.6s ease 0.6s;
}

.hero-items .owl-nav button[type=button] {
	position: absolute;
	left: 65px;
	top: 50%;
	-webkit-transform: translateY(-24px);
	-ms-transform: translateY(-24px);
	transform: translateY(-24px);
	line-height: 20px;
	font-size: 50px;
	color: #ffffff;
}

.hero-items .owl-nav button[type=button].owl-next {
	left: auto;
	right: 65px;
}

.single-hero-item {
	height: 950px;
	padding-top: 358px;
}

.single-hero-item .hero-text {
	text-align: center;
}

.single-hero-item .hero-text h4 {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin-bottom: 36px;
	position: relative;
	top: 50px;
	opacity: 0;
}

.single-hero-item .hero-text h1 {
	color: #ffffff;
	font-size: 110px;
	font-weight: 700;
	letter-spacing: 22px;
	text-transform: uppercase;
	margin-bottom: 64px;
	position: relative;
	top: 50px;
	opacity: 0;
}

.single-hero-item .hero-text h1 span {
	color: #0474bc;
}

.single-hero-item .hero-text .primary-btn {
	position: relative;
	top: 100px;
	opacity: 0;
}

.primary-btn {
	display: inline-block;
	font-size: 14px;
	font-family: "Oswald", sans-serif;
	padding: 12px 39px;
	color: #ffffff;
	background: #0474bc;
	line-height: normal;
	letter-spacing: 2px;
	text-transform: uppercase;
}

/* Small Device = 320px */
@media only screen and (min-width: 320px) and (max-width: 479px) {
	.single-hero-item .hero-text h1 {
		font-size: 75px;
	}
}

/*=======================
***** Content Area *****
========================*/
#content-area {
	margin: 0 0 50px 0;
}

#header-area {
	margin: 0 0 50px 0;
	padding: 35px;
	background-color: #0474bc;
}

#page-header {
	text-align: center;
	font-weight: 700;
	color: white;
	font-size: 1.5rem;
	text-transform: uppercase;
	margin: 0;
}

/*=======================
***** RESPONSIVENESS ****
========================*/

@media (max-width: 991px) {
	.site-footer [class^=col-] {
		margin-bottom: 30px;
	}
}
@media (max-width: 767px) {
	.site-footer {
		padding-bottom: 0;
	}
}

@media (min-width: 0px) and (max-width: 767px) {
	#links,
	.mobile-menu {
		display: none;
	}
	#logo {
		display: inline-grid;
		grid-template-columns: auto auto;
		grid-gap: 70px;
	}
}

/* Tablet to Desktop */
@media (min-width: 768px) {
	.mobile-btn {
		display: none;
	}
}
