{% extends 'admin/master.html' %}
{% block head_css %}
{{super()}}
<link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet" />
{% endblock head_css %}
{% block body %}
  {{super()}}

    <div class="col-lg-3 col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-3">
              <i class="fa fa-comments fa-5x"></i>
            </div>
            <div class="col-xs-9 text-right">

              <div>
                Welcome to Flask Administrator
              </div>
            </div>
          </div>
          <a href="#">
            <div class="panel-footer">
              <span class="pull-left">Details</span>
              <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
              <div class="clearfix">
              </div>
            </div>
          </a>
        </div>
        <a class="list-group-item list-group-item-light" href="{{ url_for('home') }}">Get back Home</a>
      </div>
    </div>

{% endblock body %}
