body {
  margin: 0;
  background-color: #e9ebee;
}

#navbar {
  display: grid;
  min-height: 100px;
  grid-auto-flow: column;
  background-color: #fcfcfc;
  grid-gap: 1.5em;
  padding: 0 40px;
  -webkit-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  -moz-box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
  box-shadow: -1px 4px 5px 0px rgba(209, 205, 209, 1);
}

#logo {
  display: grid;
  justify-content: start;
  align-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.logo span {
  color: #0474bc;
}

#links {
  display: grid;
  justify-content: right;
  align-content: center;
  grid-auto-flow: column;
  grid-gap: 1.5em;
  font-family: "Open Sans", sans-serif;
}

#links a {
  text-decoration: none;
  color: #333;
  text-transform: uppercase;
  font-weight: bold;
}

#links a:hover {
  color: #0474bc;
}

/* =======================
******* Mobile Menu ******
========================*/
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #fff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

a {
  font-family: "Open Sans", sans-serif;
}

/*--------------------------------- Responsive Media Quaries -----------------------------*/
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}
/* Medium Device = 1200px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .latest-items .latest-text .latest-tag .tag-comments {
    margin-left: 15px;
  }

  .team-members .member-text {
    padding: 40px 30px 40px 45px;
  }
}
@media only screen and (max-width: 992px) {
  .class-section .primary-btn {
    margin-bottom: 20px;
    float: none;
  }

  .services-items {
    margin-bottom: 20px;
  }

  .team-members .member-pic:before {
    top: auto;
    bottom: -60px;
    left: 50%;
    margin-left: -35px;
  }

  .team-members .member-pic.third:before {
    left: 50%;
  }

  .footer-form {
    padding: 50px 80px 45px 80px;
  }

  .register .copyright {
    margin-right: 30px;
  }

  .about-us-section .about-pic {
    margin-bottom: 30px;
  }

  .about-page-trainer .single-trainer-item {
    margin-bottom: 40px;
  }

  .blog-sidebar .sidebar-recent {
    padding-top: 40px;
  }

  .blog-details .bd-text .bd-video .video-bg {
    margin-bottom: 30px;
  }

  .team-section .primary-btn {
    float: none;
    margin-top: 0;
    margin-bottom: 20px;
  }
}
/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .nav-menu .mainmenu ul li {
    margin-right: 25px;
  }

  .nav-menu .nav-right {
    margin-left: 0px;
  }

  .header-section.header-normal .nav-menu .mainmenu ul li {
    margin-right: 20px;
  }
}
/* Wide Mobile = 480px */
@media only screen and (max-width: 767px) {
  .slicknav_menu {
    display: block;
    background: transparent;
    padding: 0;
  }

  .nav-menu .mainmenu {
    display: none;
  }

  .nav-menu {
    position: relative;
  }

  .nav-right {
    position: absolute;
    right: 110px;
    top: 7px;
  }

  .slicknav_btn {
    margin: 0;
  }

  .slicknav_nav {
    padding: 15px 10px;
    background: #222;
  }

  .slicknav_nav a {
    padding: 10px 10px;
    margin: 0;
  }

  .slicknav_nav a:hover {
    border-radius: 0;
    background: #f34a3a;
    color: #fff;
  }

  .slicknav_nav ul {
    margin: 0;
  }

  .hero-items .owl-nav button[type=button] {
    left: 5px;
  }

  .hero-items .owl-nav button[type=button].owl-next {
    right: 5px;
  }

  .single-hero-item {
    padding-top: 200px;
  }

  .register .copyright {
    margin-right: 0;
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }

  .register .footer-widget {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }

  .register .footer-links {
    float: none;
    text-align: center;
  }

  .register .footer-links a:first-child {
    margin-left: 0;
  }

  .header-normal .slicknav_btn {
    margin-top: 31px;
    margin-bottom: 30px;
  }

  .header-section.header-normal .nav-menu .nav-right {
    position: absolute;
    top: 0;
    right: 110px;
  }

  .filter-controls ul li {
    margin-right: 30px;
    margin-bottom: 10px;
  }

  .trainer-schedule.class-timetable .section-title .nav-controls ul li,
.class-timetable.choseus-section .section-title .nav-controls ul li,
.class-timetable.about-page-trainer .section-title .nav-controls ul li {
    margin-right: 25px;
    margin-bottom: 10px;
  }

  .blog-items {
    margin-left: 0;
    margin-right: 0;
  }

  .blog-sidebar {
    margin-left: 0;
    margin-right: 0;
  }

  .about-us-section .about-pic {
    margin-left: 0;
    margin-right: 0;
  }

  .about-text {
    margin-left: 0;
    margin-right: 0;
  }

  .blog-details {
    margin-left: 0;
    margin-right: 0;
  }

  .blog-details .bd-info .bi-social a {
    margin-left: 15px;
  }
}
/* Small Device = 320px */
@media only screen and (min-width: 320px) and (max-width: 479px) {
  .single-hero-item .hero-text h1 {
    font-size: 75px;
  }

  .services-items .single-service-item {
    width: 100%;
    margin-right: 0;
  }

  .map-location .map-widget {
    left: 2%;
  }

  .map-location .map-widget .map-address {
    width: 309px;
  }

  .map-location .map-widget .map-address ul {
    padding-left: 14px;
    padding-right: 14px;
  }

  .footer-form {
    padding: 10px 20px 10px 20px;
  }

  .blog-items .single-blog-item .blog-text .blog-tag .post-info {
    float: none;
  }

  .blog-items .single-blog-item .blog-text .blog-tag .tag-details {
    float: none;
  }

  .blog-details .bd-text .blog-tag .post-info {
    float: none;
  }

  .blog-details .bd-text .blog-tag .tag-details {
    float: none;
  }

  .blog-details .bd-info .bi-tags {
    float: none;
  }

  .blog-details .bd-info .bi-social {
    float: none;
  }

  .blog-details .bd-comments .comments-item .avatar-text .reply-btn.primary-btn {
    padding: 5px 10px;
    position: relative;
    margin-top: 20px;
  }

  .blog-details .bd-comments .comments-item .avatar-pic {
    float: none;
    margin-bottom: 20px;
  }
  .blog-details .bd-comments .comments-item .avatar-text {
    padding-left: 0;
  }
  .blog-details .bd-comments .comments-item .avatar-text:before {
    display: none;
  }
}


/*Footer CSS*/
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:14px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.hero-items .owl-item.active .single-hero-item .hero-text h4,
.hero-items .owl-item.active .single-hero-item .hero-text h1,
.hero-items .owl-item.active .single-hero-item .hero-text .primary-btn {
  top: 0;
  opacity: 1;
}
.hero-items .owl-item.active .single-hero-item .hero-text h4 {
  -webkit-transition: all 0.5s ease 0.2s;
  -o-transition: all 0.5s ease 0.2s;
  transition: all 0.5s ease 0.2s;
}
.hero-items .owl-item.active .single-hero-item .hero-text h1 {
  -webkit-transition: all 0.4s ease 0.4s;
  -o-transition: all 0.4s ease 0.4s;
  transition: all 0.4s ease 0.4s;
}
.hero-items .owl-item.active .single-hero-item .hero-text .primary-btn {
  -webkit-transition: all 0.6s ease 0.6s;
  -o-transition: all 0.6s ease 0.6s;
  transition: all 0.6s ease 0.6s;
}
.hero-items .owl-nav button[type=button] {
  position: absolute;
  left: 65px;
  top: 50%;
  -webkit-transform: translateY(-24px);
  -ms-transform: translateY(-24px);
  transform: translateY(-24px);
  line-height: 20px;
  font-size: 50px;
  color: #ffffff;
}
.hero-items .owl-nav button[type=button].owl-next {
  left: auto;
  right: 65px;
}

.single-hero-item {
  height: 950px;
  padding-top: 358px;
}
.single-hero-item .hero-text {
  text-align: center;
}
.single-hero-item .hero-text h4 {
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 36px;
  position: relative;
  top: 50px;
  opacity: 0;
}
.single-hero-item .hero-text h1 {
  color: #ffffff;
  font-size: 110px;
  font-weight: 700;
  letter-spacing: 22px;
  text-transform: uppercase;
  margin-bottom: 64px;
  position: relative;
  top: 50px;
  opacity: 0;
}
.single-hero-item .hero-text h1 span {
  color: #0474bc;
}
.single-hero-item .hero-text .primary-btn {
  position: relative;
  top: 100px;
  opacity: 0;
}
.primary-btn {
  display: inline-block;
  font-size: 14px;
  font-family: "Oswald", sans-serif;
  padding: 12px 39px;
  color: #ffffff;
  background: #0474bc;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}

  /* Mobile to Tablet  */
  @media (min-width: 0px) and (max-width: 767px) {
    #links,
    .mobile-menu {
      display: none;
    }
    #logo {
      display: inline-grid;
      grid-template-columns: auto auto;
      grid-gap: 70px;
    }
  }

  /* Tablet to Desktop */
  @media (min-width: 768px) {
    .mobile-btn {
      display: none;
    }
  }

  #mySidenav {
    z-index: 9999;
}
